/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body has a height base */
  font-family: 'UNSII', sans-serif;
}

.home-container {
  width: 100%;
  min-height: 100vh; /* Ensure the container spans full viewport height */
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 10;

  /* Set height to 5vh */
  height: 10vh;
}

/* Logo and Title */
.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 2vw; /* Adjust size relative to viewport width */
  height: auto;
  margin-right: 2w;
}

.title {
    width: 5vw;
    height: auto;
    margin-left: 1vw;
}

.navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: 'UNSII', sans-serif;
}

/* Hamburger Icon */
.hamburger {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Dropdown Menu */
.menu-items {
  display: none; /* Hidden by default */
  list-style: none;
  margin: 0;
  padding: 0;

  /* Dropdown should span the full width of the navbar */
  width: 100%;
  background-color: #333;

  /* Position below the navbar */
  position: absolute;
  top: 100%; /* Align directly below the navbar */
  left: 0; /* Align with the navbar's left edge */

  /* For smooth dropdown animation */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;

  font-family: 'UNSII', sans-serif;
}

.menu-items li {
  text-align: right; /* Align text to the right */
  padding: 15px 20px;
}

.menu-items li a {
  color: white;
  text-decoration: none;
  font-size: 5rem;
  display: block; /* Make the entire row clickable */
}

.menu-items li a:hover {
  background-color: #555;
}

/* When Dropdown is Open */
.menu-items.open {
  display: block;
  max-height: 300px; /* Adjust to fit content */
}

@font-face {
    font-family: 'UNS';
    src: url('./fonts/UNS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'UNS';
    src: url('./fonts/UNS.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  